@import 'tailwindcss';

:root {
    --background-rgb: 255 255 255;
    --foreground-rgb: 23 23 23;

    --background: rgb(var(--background-rgb));
    --foreground: rgb(var(--foreground-rgb));
}

@theme {
    --colors-background: rgb(var(--background-rgb));
    --colors-foreground: rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-rgb: 10 10 10;
        --foreground-rgb: 237 237 237;
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
}
